{% extends 'base.html' %}
{% load static %}

{% block link %}
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Datepicker CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<!-- Bootstrap Timepicker CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static '/css/book_slot.css'%}">
{% endblock %}

{% block content %}
<div class="bookmain">
    <h3>Slot Booking</h3>
    <div class="booksub">
        <form method="post" id="bookingForm">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
                <div style="color: red;">{{ form.non_field_errors }}</div>
            {% endif %}
            <input type="hidden" id="start_time_24" name="start_time_24">
            <button type="submit" class="btn btn-primary">Book Slot</button>
        </form>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap Datepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Timepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script src="{% static '/js/book_slot.js' %}"></script>
>
{% endblock %}