.bookmain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

.booksub {
    width: 100%;
    max-width: 600px; /* Restrict width for better appearance */
    padding: 30px;
    background-color: rgba(141, 192, 141, 0.555);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.booksub form {
    margin-bottom: 20px;
}

.booksub h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%; /* Full-width button */
}

.btn-secondary {
    display: block;
    width: 100%; /* Full-width button */
}
