{% extends 'layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock %}

{% block content1 %}
    <div class="login">
        <form method="post" class="login1">
            {% csrf_token %}
            <div class="login2 mt-5">
                <img class="logolog" src="{% static '/images/logo1.png' %}" alt="">
                <h4>Log in to Sports Land</h4>
            </div>
            <input class="form-control inp" type="text" placeholder="Username" name="usern">
            <input class="form-control inp" type="password" placeholder="password" name="passw">
            <input class="inp inp1" type="submit" value="login" class="logbt">
        </form>
        <br>
        
    </div>
    
{% endblock %}
